@page
@model IndexModel
@{
    ViewData["Title"] = "Contatos";
}
<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-4">Contatos</h1>
      
    </div>

</div>

<div class="container">
    <a class="btn btn-primary btn-sx pull-left" style="margin-top:20px;margin-bottom: 20px;" asp-page="/AddContact">
        <i class="glyphicon glyphicon-plus"></i> Adicionar Novo Contato
    </a>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Detalhes</th>
                <th scope="col">Editar</th>
                <th scope="col">Excluir</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in Model.contacts)
            {
                <tr>                   
                    <td>@contact.Name</td>
                    <td>
                        <form method="post">
                            <span class="btn-group pull-right">
                                <a class="btn btn-warning btn-xs" asp-page="/DetailContact" asp-route-id="@contact.Id" style="background-color: green; height: 40px; margin-top: -1px; align-items: center; color: white">
                                    Detalhes
                                </a>
                            </span>
                        </form>
                    </td>
                    <td>
                        <form method="post">
                            <span class="btn-group pull-right" >
                                <a class="btn btn-warning btn-xs" asp-page="/EditContact" asp-route-id="@contact.Id" style="background-color: blueviolet; height: 40px; margin-top: -1px; align-items: center; color: white">
                                    Editar
                                </a>                                
                            </span>
                        </form>
                    </td>
                    <td>
                        <form method="post">
                            <span class="btn-group pull-right" >
                                <button type="submit" class="btn btn-danger btn-xs" style="align-items: center" asp-page-handler="Delete" asp-route-id="@contact.Id" style="height: 27px; margin-top: 0px;"
                                        onclick="return confirm('Deseja realmente excluir este Contato?');">
                                    <span>Excluir</span>
                                    
                                </button>
                            </span>
                        </form>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>